.topicos {
  text-align: center;
  background: var(--azul-degrade);
  padding: 1em 0;
}

.topicos__titulo {
  font-weight: 300;
  text-transform: uppercase;
  color: var(--branco);
  margin-bottom: 1em;
  margin-top: 0.5em;
}

.topicos__lista {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.topicos__item {
  margin: 2em 0.5em;
}

.topicos__link {
  background-color: var(--laranja);
  text-decoration: none;
  font-size: 14px;
  font-weight: 700;
  color: var(--branco);
  padding: 1em;
}

@media screen and (min-width: 1024px) {
  .topicos__titulo {
    font-size: 24px;
  }

  .topicos__link {
    font-size: 24px;
  }
}

@media screen and (min-width: 1728px) {
  .topicos {
    padding: 3em 20vw;
  }
}
